Write the code needed to produce a report that provides the following information:
* Compare the average income based on ethnicity.
* On average, do married or single people have a higher balance?
* What is the highest income in our dataset?
* What is the lowest income in our dataset?
* How many cards do we have recorded in our dataset? (Hint: use `sum()`)
* How many females do we have information for vs how many males? (Hint: use `count()` for a list of all methods for computation of descriptive stats, explore the [pandas documentation](https://pandas.pydata.org/pandas-docs/stable/reference/frame.html#computations-descriptive-stats)).

In [180]:
# Import pandas
import pandas as pd

In [181]:

# Create a DataFrame with balance.txt
# Load data
df = pd.read_csv('balance.txt',sep=' ')

In [7]:
print(df.head(3))

     Balance   Income  Limit  Rating  Cards  Age  Education  Gender Student  \
0  12.240798   14.891   3606     283      2   34         11    Male      No
1  23.283334  106.025   6645     483      3   82         15  Female     Yes
2  22.530409  104.593   7075     514      4   71         11    Male      No

  Married  Ethnicity
0     Yes  Caucasian
1     Yes      Asian
2      No      Asian

In [182]:
# Compare the average income based on ethnicity.
df_income_ethnicity = df.iloc[:,[1,10]]
print(df_income_ethnicity.groupby('Ethnicity')['Income'].mean())

Ethnicity
African American    47.682101
Asian               44.187833
Caucasian           44.521945
Name: Income, dtype: float64

In [183]:
df_income_married = df.iloc[:,[1,9]]
print(df_income_married.groupby('Married')['Income'].mean())

Married
No     43.641090
Yes    46.217082
Name: Income, dtype: float64

In [184]:
m = df_income_married[df_income_married.Married == 'Yes'].mean()

In [185]:
s = df_income_married[df_income_married.Married == 'No'].mean()

In [186]:
# On average, married people have a higher balance than single people

In [187]:
#What is the highest income in our dataset?'
print(df['Income'].max())

186.63400000000001

In [188]:
# What is the lowest income in our dataset?
print(df['Income'].min())

10.354000000000001

In [189]:
# How many cards do we have recorded in our dataset? 
print(df['Cards'].sum())

1183

In [190]:
# How many females do we have information for vs how many males?
df_gender = df.iloc[:,7]

In [191]:
df_gender[df.Gender == 'Female'].count()

207

In [192]:
df_gender[df.Gender == 'Male'].count()

193